.product-card {
  width: 200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(7, 7, 7, 0.1);
  text-align: center;
  border-width: 2px;

}
.product-card:hover{
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-width: 1px;
  border: black;

}
.product-card img:hover{
  transform: scale(1.03);
}


.product-card h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-card p {
  color: #4CAF50;
  margin-bottom: 15px;
}

.image-p{
  border-style: double;
  border: black;
}

.product-image-card {
  border: black;
  border-style: 1px normal ;

}

.view-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.cart-btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.view-btn {
  background-color: #4CAF50;
  color: #fff;
}

.view-btn:hover{
  transform: scale(1.03);
}

.cart-btn {
  background-color: #ddd;
  color: black;
}
.cart-btn:hover{
  transform: scale(1.03);
}
